---

---

{% include_relative syntax.scss %}
{% include_relative header.scss %}
{% include_relative footer.scss %}
{% include patterns/patterns.scss %}

/** move these to browser reset **/
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

