@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Public+Sans:wght@100;400&display=swap');


h1 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
    max-width: 72ex;
}

h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem;
    padding: 0;
}

.title-font {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: $inkcolor;
}

.body-font {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    color: $inkcolor;

}

h1 {
    @extend .title-font;
    font-size: 54px;
    line-height: 60px;
    
}

h2 {
    @extend .title-font;
    font-size: 42px;
    line-height: 48px;
}

.h2-alt {
    @extend h2;
    color: $primarycolor;
}

h3 {
    @extend .title-font;
    font-size: 32px;
    line-height: 36px;
}

.h3-bold {
    @extend h3;
    font-weight: 700;
}

.h3-inverse {
    @extend h3;
    color: $inversecolor;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: $inkcolor;
}

button {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: $papercolor;
    font-weight: 100;
}

ol {
    list-style-type: decimal;
    margin-left: 40px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}
li {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;

}