@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Public+Sans:wght@100;400&display=swap');


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.title-font {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: $inkcolor;
}

h1 {
    @extend .title-font;
    font-size: 54px;
    
}

h2 {
    @extend .title-font;
    font-size: 42px;
}

.h2-alt {
    @extend .title-font;
    font-size: 42px;
    color: $primarycolor;
}

h3 {
    @extend .title-font;
    font-size: 32px;
}

.h3-bold {
    @extend h3;
    font-weight: 700;
}

.h3-inverse {
    @extend h3;
    color: $inversecolor;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    line-height: 32;
    color: $inkcolor;
}

button {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    line-height: 32;
    color: $papercolor;
    font-weight: 100;
}